<div class="page-header">
<div class="container">
    <h1>You can stop looking you found him!</h1>
    <div>
       <p class="bg-success"> My name is Baruch montiano,29 gradeuate Dot.net course at HackerU collage in Ramat Gan,<br />
        Curious,self-taught,high motivation to learn new material,responsible,devoted to what i start.
         i learned Angular material,PHP 5.6.<br />
        In course the Modules were:<br />
       </p>
        <p class="bg-success">
            <span class="label label-info">   Program Language: C#</span><br />
            Console application and Winforms<br />
            <span class="label label-info">  Web develpment:</span><br />
            ASP,ASP.net,HTML5,CSS3,Javascript<br />
            <span class="label label-info">3d Party Libaries:</span><br />
            Bootstrap,AngularJS,JQuery<br />
            Database: Ms Sql 2012
        </p>
        So that what i learn,now you can contact:
        <button type="button" class="btn btn-link" ng-mouseup="count=count+1" ng-disabled="count>1?true:false" href="mailto:mahham2255@gmail.com">Email:mahham2255@gmail.com</button>
     
    </div>
</div>
</div>