
<md-dialog aria-label="Insert new person">

    <md-toolbar>
        <div class="md-toolbar-tools">

           Insert new person
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <form name="nickf" layout="column" layout-gt-xs="column" layout-padding novalidate>
            <div class="form-group">
                <label>Enter your name or nick</label><br />
                <input type="text" ng-model="setPerson.Name" name="nick" placeholder="Enter your name or nickname here" ng-pattern="reg" required />
                <p class="help-block" ng-show="nickf.nick.$error.pattern">Letters only, please.</p>
                <p class="help-block" ng-show="nickf.nick.$error.required">Name is required, please.</p>
            </div>
           
            <md-input-container>
                <label>Choose Services</label>
                <md-select ng-model="setPerson.SupplierCode" placeholder="Choose Service:">
                    <md-optgroup label="Services">
                        <md-option ng-value="item.SupplierCode" ng-repeat=" item in SrvNme">{{item.Service}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </form>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-aligin="center">
        
        <md-button ng-click="answer(setPerson)" ng-disabled="!nickf.nick.$valid">
           Insert 
        </md-button>
    </md-dialog-actions>
</md-dialog>
