<div class="page-header">
<div class="container">
<h1>Introdaction for Line creator</h1>
    <pre style="border: none;background-color:aliceblue;font-size:16px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;">
    <b>Description:</b>
    Line Creator is web singel page application that can help to manage a line
    for a random persons that want a service from business.
    <b>Usage:</b>
    1.On menu button above you can choose 'Contact' for information about this web creator
      'Line Creator' this the main subject the web app.
    2.On 'Line Creator' first it will be load and then you will see add person icon
       and example for services that have live active line.
    3.Press the Forward icon to see the line for a service.
    4.Now you can do actions like : Set deal for the person and finish the service for him
      or Change deatails set a deal and send the person to anthoer service
      or Delete person line.
     <b>Technologies:</b>
     I used those theconlogies for my web applicatio:
     Asp.net Web api 2,Html5,CSS3
     Javascript framework: AngularJs V 1.6.3 
     Design: Bootstrap V 3.3.7 , Angular Material V 1.1.3
     Database: Ms Sql 2012
    </pre>



</div>
</div>