
<div ng-controller="LinemanageCtrl">
    
    <div ng-cloak>


        <md-content>
            <!-- cards select -->
            
            <div class="row">
                <div class="col-md-6">

                    <md-subheader class="md-no-sticky md-primary" align="left">Choose Service to view the line</md-subheader>
                    <md-button ng-show="state.loaded" class="md-icon-button md-primary" ng-click='insertNewperson()'>
                        <md-tooltip>Insert new person to line</md-tooltip>
                        <md-icon>person_add</md-icon>
                    </md-button>
                    <md-divider>
                    </md-divider>

                 
                    <div class="row">
                        <div class="col-md-4" ng-repeat="item in bySupplier">
                            <md-card md-colors="{background: 'light-blue-100'}" >
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline"> {{item.NameServTyp}}</span>
                                        <span class="md-subhead">Line Total: {{item.TotalinLine}}</span>
                                    </md-card-title-text>
                                </md-card-title>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button class="md-icon-button" md-ink-ripple="false" ng-click='slctSupplier(item)'>
                                        <md-tooltip md-autohide="true">Show me the service line</md-tooltip>
                                        <md-icon>forward</md-icon>
                                    </md-button>
                                </md-card-actions>
                            </md-card>

                        </div>
                    </div>
                </div>




                <!-- table supplier -->
                <div class="col-md-6">
                    <md-subheader ng-show="state.lineBy" class="md-no-sticky md-primary" align="center">Choose Number in line to modify</md-subheader>
                    <div class="table-responsive ">
                        <table ng-show="state.lineBy" class="table table-hover" align="center">
                            <thead md-colors="{background: 'light-blue-100'}">
                                <tr>
                                    <th>Actions</th>
                                    <th>#</th><th>#</th>
                                    <th>Priority</th>
                                    <th>Number in Line</th>
                                    <th>Service</th>
                                    <th>Suggsted Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="repeatMe" ng-repeat="item in lineOrder|filter:slctSupplier.slctSup track by $index">
                                    <td>
                                        <md-button class="md-icon-button" ng-click="personActions.deletePerson(item)">
                                            <md-tooltip md-autohide="true">Delete this person from line</md-tooltip>
                                            <md-icon class="md-primary">clear</md-icon>
                                        </md-button>
                                       </td><td>
                                        <md-button class="md-icon-button" ng-click='personActions.updatePerson(item)'>
                                            <md-tooltip md-autohide="true">Change details</md-tooltip>
                                            <md-icon class="md-primary">list</md-icon>
                                        </md-button></td><td>
                                        <md-button class="md-icon-button" ng-click='personActions.setDeal(item)'>
                                            <md-icon class="md-accent">check_circle</md-icon>
                                            <md-tooltip md-autohide="true">Set Deal Price</md-tooltip>
                                        </md-button>
                                    </td>
                                    <td>{{$index+1}}</td>
                                    <td>{{item.PersonId}}</td>
                                    <td>{{item.NameServTyp}}</td>
                                    <td>{{item.Price}}</td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>



            </div>

        </md-content>
    </div>
    </div>
    


